<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>
	<servlet>
		<servlet-name>LoginS.do</servlet-name>
		<servlet-class>com.gx.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginS.do</servlet-name>
		<url-pattern>/LoginS.do</url-pattern>
		<url-pattern>/adminjsps/LoginS.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterS</servlet-name>
		<servlet-class>com.gx.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterS</servlet-name>
		<url-pattern>/RegisterS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout.do</servlet-name>
		<servlet-class>com.gx.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout.do</servlet-name>
		<url-pattern>/Logout.do</url-pattern>
		<url-pattern>/adminjsps/Logout.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Main.do</servlet-name>
		<jsp-file>/WEB-INF/bai/main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main.do</servlet-name>
		<url-pattern>/Main.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/WEB-INF/bai/register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Inschool.do</servlet-name>
		<jsp-file>/WEB-INF/bai/inschool.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inschool.do</servlet-name>
		<url-pattern>/Inschool.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Outschool.do</servlet-name>
		<jsp-file>/WEB-INF/bai/outschool.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Outschool.do</servlet-name>
		<url-pattern>/Outschool.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Index</servlet-name>
		<jsp-file>/WEB-INF/bai/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>cn.itcast.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter><!-- 防止未经登录执行相关操作 -->
		<filter-name>onlineFilter</filter-name>
		<filter-class>com.gx.filter.OnlineFilter</filter-class>
		<init-param>
			<param-name>excludedPages</param-name>
			<param-value>/index.jsp,/login.jsp,/image.jsp,/register.jsp,/LoginS.do,/Index,/Register,/RegisterS</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>onlineFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter><!-- 防止注销以后后退 -->
		<filter-name>noCacheFilter</filter-name>
		<filter-class>com.gx.filter.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>noCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.gx.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SchoolServlet</servlet-name>
		<servlet-class>com.gx.servlet.SchoolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolServlet</servlet-name>
		<url-pattern>/SchoolServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>com.gx.servlet.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/FrontServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NavServlet</servlet-name>
		<servlet-class>com.gx.servlet.NavServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NavServlet</servlet-name>
		<url-pattern>/NavServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClubServlet</servlet-name>
		<servlet-class>com.gx.servlet.ClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClubServlet</servlet-name>
		<url-pattern>/ClubServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>com.gx.servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/CommentServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>